
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}
{% loadkwacros 'admin/macro.html' %}

<br><br>
{{info}}
<br>

{% if form %}
    <form action="." method="POST">   

<input type="hidden" name="operation" value="{{operation}}" />
{% for s in all_select %}
<input type="hidden" name="all_select" value="{{s}}" />
{% endfor %}
<table>
 {% usekwacro form_as_table form %}

</table>
    <input class="button" type="submit" value="potvrdit">
    <a class='button' href='../'>zpět</a>
    </form>
{% else %}
    <a class='button' href='../'>zpět</a>
{% endif %}

{% endblock %}

