
{% extends "admin/base.html" %}

{% block title %} backup {% endblock %}

{% block content %}

{% if filter_form %}
    <form action="." method="POST">

<table>
{{ filter_form.as_table }}
</table>

    <input class="button" type="submit" value="vybrat">
    </form>


{% endif %}


{% if course_list %}
    <br><br>Přehled kurzů pro zálohu<br>

    <table>
    <tr>
        <th>kód</th>
        <th>název</th>
        <th>sezóna</th>
        <th>kategorie</th>
        <th>poslední změna</th>
        <th>poslední záloha</th>        
        <th>záloha v plánu</th>
        <th>operace</th>
    </tr>
    {% for c in course_list %}
        <tr>
            <td>{{c.code}}</td>
            <td>{{c.name}}</td>
            <td>{{c.season_name|nonone}}</td>
            <td>{{c.folder_name|nonone}}</td>
            <td>{{c.modify_datetime|shortdatetime}}</td>
            <td>{{c.backup_datetime|shortdatetime}}</td>
            <td>{{c.backup_flag}}</td>
            <td>
                <a class='button' href='{{c.key.id}}/'>zálohy</a>
{% if request.auth_info.admin %}
                <a class='button' href='{{c.key.id}}/do/'>zálohuj</a>
{% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
{% endif %}
    <br><br>

{% endblock %}

