
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}


{% if course %}

    {% include "admin/course_info_box.html" %}   
 
{% endif %}

    <br><br>

    <a class='button' href='add'>přidat žáka</a>
    <a class='button' href='email'>emaily</a>
    <a class='button' href='csv'>stáhnout</a>
    <a class='button' href='pdf_list'>tisknout seznam</a>
    <a class='button' href='pdf_enroll'>tisknout přihlášky</a>
    <a class='button' href='.'>přenačíst</a>

    <br><br>
    <form action="op/" method="POST">
    <table>
{% if student_list_to_enroll %}
    <tr>
        <td colspan=2></td>
        {% with 'Náhradníci' as text %}
        {% include "admin/st_table_sep_line.html" %}
        {% endwith %}
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>p.č</th>
        {% include "admin/st_table_header.html" %}
        <th>operace</th>
    </tr>
    {% for s in student_list_to_enroll %}
        <tr>
            <td> 
              <div class="check-area">  <input class="check-action" id='select-s-slave' type="checkbox" value="{{ s.key.id }}" {% if l.selected %}checked{% endif %} name="spare_select" /> </div>
            </td>
 
            <td>{{forloop.counter}}</td>
            {% include "admin/st_table_row.html" %}
            <td>
                <a class='button' href='{{s.key.id}}/view/'>zobrazit</a>
                <a class='button' href='{{s.key.id}}/enroll/'>zapsat</a>
                <a class='button' href='{{s.key.id}}/edit/'>editovat</a>
                <a class='kbutton' href='{{s.key.id}}/kick/'>vyřadit</a>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan=2>
            <div class="check-area">
                <input id="select-s" type="checkbox" />
                <label for="select-s">vše</label>
            </div>
        </td>
        {% with '' as text %}
        {% include "admin/st_table_sep_line.html" %}
        {% endwith %}
        <td></td>
    </tr>

{% else %}
    <tr>
        <td colspan=2></td>
        {% with 'Žádný náhradník' as text %}
        {% include "admin/st_table_sep_line.html" %}
        {% endwith %}
        <td></td>
    </tr>
 
{% endif %}


{% if student_list_enrolled %}
    <tr>
        <td colspan=2></td>
        {% with 'Žáci zapsaní do kurzu' as text %}
        {% include "admin/st_table_sep_line.html" %}
        {% endwith %}
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>p.č</th>
        {% include "admin/st_table_header_e.html" %}
        <th>operace</th>
    </tr>
    {% for s in student_list_enrolled %}
        <tr>

            <td> 
              <div class="check-area">  <input class="check-action" id='select-e-slave' type="checkbox" value="{{ s.key.id }}" {% if l.selected %}checked{% endif %} name="enroll_select" /> </div>
            </td>
 
            <td>{{forloop.counter}}</td>
            {% include "admin/st_table_row_e.html" %}
            <td>
                <a class='button' href='{{s.key.id}}/view/'>zobrazit</a>
                <a class='button' href='{{s.key.id}}/spare/'>náhradník</a>
                <a class='button' href='{{s.key.id}}/edit/'>editovat</a>
                <a class='kbutton' href='{{s.key.id}}/kick/'>vyřadit</a>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan=2>
            <div class="check-area">
                <input id="select-e" type="checkbox" />
                <label for="select-e">vše</label>
            </div>
        </td>
        {% with '' as text %}
        {% include "admin/st_table_sep_line.html" %}
        {% endwith %}
        <td></td>
    </tr>
{% else %}
    <tr>
        <td colspan=2></td>
        {% with 'Kurz je prázdný' as text %}
        {% include "admin/st_table_sep_line.html" %}
        {% endwith %}
        <td></td>
    </tr>
{% endif %}
    </table>

    
   <div class="form-table-opt">
        <label class="blind" for="operation">Akce:</label>
        <select id="operation" name="operation">
            <option value="action_none">-- zvol akci --</option>
            <option value="action_email">emaily</option>
            <option value="action_pair">spáruj dvojci</option>
            <option value="action_transfer">přesuň do jiného kurzu</option>
            <option value="action_card">generuj legitimace</option>
            <option value="action_invitation">generuj pozvánky</option>
        </select>
        <input class="button" type="submit" value="provést">
        (s označenýma)
    </div>

    </form>

<script type="text/javascript">

        TOOLS.bindSelect('select-s','select-s-slave');     
        TOOLS.bindSelect('select-e','select-e-slave');     

</script>

{% endblock %}

