
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}
    <a class='button' href='add'>přidat kurz</a>
    <a class='button' href='../nahled/zapis/'>náhled zápisu</a>
    <a class='button' href='.'>přenačíst</a>

    <br><br>Přehled kurzů<br>

{% if course_list %}
    <table>
    <tr>
        <th>aktivní</th>
        <th>pozastaveno</th>
        <th>řazení</th>
        <th>kód</th>
        <th>název</th>
        <th>kategorie</th>
        <th>režim</th>
        <th>termín</th>
        <th>první lekce</th>
        <th>kapacita</th>
        <th>obsazeno</th>
        <th>k zápisu</th>
        <th>limit k zápisu</th>
        <th>operace</th>
    </tr>
    {% for c in course_list %}
        <tr>
            <td>{{c.active|anone }}</td>
            <td>{{c.suspend|anone }}</td>
            <td>{{c.order_value}}</td>
            <td>{{c.code}}</td>
            <td>{{c.name}}</td>
            <td>{{c.folder_name|nonone}}</td>
            <td>{{c.group_mode_loc}}</td>
            <td>{{c.period}}</td>
            <td>{{c.first_period}}</td>
            <td>{{c.capacity}}</td>
            <td>{{c.usage}}</td>
            <td>{{c.pending}}</td>
            <td>{{c.pending_limit}}</td>
            <td>
                <a class='button' href='{{c.key.id}}/zaci/'>žáci</a>
                <a class='button' href='{{c.key.id}}/recount/'>přepočítat</a>
                <a class='button' href='{{c.key.id}}/edit/'>editovat</a>
                <a class='cbutton' href='{{c.key.id}}/del/'>smazat</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    no course<br>
{% endif %}


{% endblock %}

