
{% if course %}
    <table>
    <tr><th> {{ course.code }} </th> <th> {{ course.name }} ({{course.folder_name|nonone}}, {{course.season_name|nonone}})</th> </tr>
    <tr><td> místo;lektor;termíny </td> <td> {{course.place}};{{course.teacher}};{{course.first_period}}/{{course.period}} </td> </tr>
    <tr><td> aktivní;pozastaveno </td> <td>{{course.active|anone }};{{course.suspend|anone }}</td> </tr>
    <tr><td> kapacita (aktuální/max) </td> <td> zapsaní: {{course.usage}}/{{course.capacity}}, náhradníci: {{course.pending}}/{{course.pending_limit}} </td> </tr>
    <tr><td> statistika (p/d) </td> <td> zaplaceno: {{course.stat_fp_m}}/{{course.stat_fp_f}}, záloha: {{course.stat_pp_m}}/{{course.stat_pp_f}}, nic:{{course.stat_np_m}}/{{course.stat_np_f}}  </td></tr>
    <tr><td> platby </td> <td> platby zapsaných:{{course.stat_paid}}  </td></tr>
    
    </table>


{% else %}
    kurz není
{% endif %}
