
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}
    <a class='button' href='add'>přidat žáka</a>
    <a class='button' href='email'>emaily</a>
    <a class='button' href='.'>přenačíst</a>

    <br><br>Přehled žáků k zápisu<br>

{% if student_list_to_enroll %}
    <table>
    <tr>
        <th>p.č.</th>
        <th>stav</th>
        <th>čas přihlášky</th>
        <th>kurz</th>
        <th>referenční číslo</th>
        <th>oslovení</th>
        <th>jméno</th>
        <th>příjmení</th>
        <th>email</th>
        <th>telefon</th>
        <th>rok</th>
        <th>student</th>
        <th>ulice</th>
        <th>číslo</th> 
        <th>město</th>
        <th>psč</th> 
        <th>partner</th>
        <th>poznámka</th> 
        <th>operace</th>
    </tr>
    {% for s in student_list_to_enroll %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{s.status_loc}}</td>
            <td>{{s.reg_datetime}}</td>
            <td>{{s.course_code}}</td>
            <td>{{s.ref_key}}</td>
            <td>{{s.addressing_loc}}</td>
            <td>{{s.name}}</td>
            <td>{{s.surname}}</td>
            <td>{{s.email}}</td>
            <td>{{s.phone|nonone}}</td>
            <td>{% if s.year %}{{s.year}}{% else %}&nbsp;{%endif%}</td>
            <td>{{s.student|anone}}</td>
            <td>{{s.street|nonone}}</td>
            <td>{{s.street_no|nonone}}</td>
            <td>{{s.city|nonone}}</td>
            <td>{{s.post_code|nonone}}</td>
            <td>{{s.partner_ref_code|nonone}}</td>
            <td>{{s.comment|nonone}}</td>
            <td>
                <a class='button' href='{{s.key.id}}/enroll/'>zapsat</a>
                <a class='kbutton' href='{{s.key.id}}/kick/'>odmítnout</a>
                <a class='button' href='{{s.key.id}}/edit/'>editovat</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    žádný student k zápisu<br>
{% endif %}

    <br><br>Přehled žáků v kurzu<br>

{% if student_list_enrolled %}
    <table>
    <tr>
        <th>p.č.</th>
        <th>stav</th>
        <th>čas přihlášky</th>
        <th>kurz</th>
        <th>referenční číslo</th>
        <th>oslovení</th>
        <th>jméno</th>
        <th>příjmení</th>
        <th>email</th>
        <th>telefon</th>
        <th>rok</th>
        <th>student</th>
        <th>ulice</th>
        <th>číslo</th> 
        <th>město</th>
        <th>psč</th> 
        <th>partner</th>
        <th>poznámka</th> 
        <th>operace</th>
    </tr>
    {% for s in student_list_enrolled %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{s.status_loc}}</td>
            <td>{{s.reg_datetime}}</td>
            <td>{{s.course_code}}</td>
            <td>{{s.ref_key}}</td>
            <td>{{s.addressing_loc}}</td>
            <td>{{s.name}}</td>
            <td>{{s.surname}}</td>
            <td>{{s.email}}</td>
            <td>{{s.phone|nonone}}</td>
            <td>{% if s.year %}{{s.year}}{% else %}&nbsp;{%endif%}</td>
            <td>{{s.student|anone}}</td>
            <td>{{s.street|nonone}}</td>
            <td>{{s.street_no|nonone}}</td>
            <td>{{s.city|nonone}}</td>
            <td>{{s.post_code|nonone}}</td>
            <td>{{s.partner_ref_code|nonone}}</td>
            <td>{{s.comment|nonone}}</td>
            <td>
                <a class='kbutton' href='{{s.key.id}}/kick/'>vyřadit</a>
                <a class='button' href='{{s.key.id}}/edit/'>editovat</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    žádný student v kurzu<br>
{% endif %}


{% endblock %}

