
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}


{% if course %}

    {% include "admin/course_info_box.html" %}   
 
{% endif %}

    <br/><br/>


{% with course.group_mode as mode %}

{% if request.auth_info.edit %}
    <a class='button' href='add'>přidat žáka</a>
    <a class='button' href='add_pair'>přidat pár</a>
{% endif %}
    <a class='button' href='vyrazeni'>vyřazené přihlášky</a>
    <a class='button' href='email'>emaily</a>
    <a class='button' href='csv'>stáhnout</a>
    <a class='button' href='pdf_list'>tisknout seznam</a>
    <a class='button' href='pdf_enroll'>tisknout přihlášky</a>
    <a class='button' href='.'>přenačíst</a>

    <br/><br/>
    <form action="op/" method="post">
    <table>
{% if student_list_to_enroll %}
    <tr>
        <td colspan="2"></td>
        {% with 'Náhradníci' as text %}
        {% if mode == 'Single' %}
        {% include "admin/st_table_single_sep_line.html" %}
        {% endif %}
        {% if mode == 'School' %}
        {% include "admin/st_table_school_sep_line.html" %}
        {% endif %}
        {% if mode == 'Pair' %}
        {% include "admin/st_table_pair_sep_line.html" %}
        {% endif %}
        {% endwith %}
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>p.č</th>
        {% if mode == 'Single' %}
        {% include "admin/st_table_single_header.html" %}
        {% endif %}
        {% if mode == 'School' %}
        {% include "admin/st_table_school_header.html" %}
        {% endif %}
        {% if mode == 'Pair' %}
        {% include "admin/st_table_pair_header.html" %}
        {% endif %}
        <th>operace</th>
    </tr>
    {% for s in student_list_to_enroll %}
        <tr class='{% cycle 'row_a' 'row_b' %} autohover'>
            <td> 
              <div class="check-area"> 
                {% if not s.x_pair_empty_slot %}
                 <input class="check-action" id='select-s-slave' type="checkbox" value="{{ s.key.id }}" {% if l.selected %}checked{% endif %} name="spare_select" /> 
                {% endif %}
              </div>
            </td>
 
            <td>{{s.x_no}}</td>
            {% if mode == 'Single' %}
            {% include "admin/st_table_single_row.html" %}
            {% endif %}
            {% if mode == 'School' %}
            {% include "admin/st_table_school_row.html" %}
            {% endif %}
            {% if mode == 'Pair' %}
            {% include "admin/st_table_pair_row.html" %}
            {% endif %}
            <td class='nowrap'>
                {% if not s.x_pair_empty_slot %}
{% if request.auth_info.edit %}
                <a class='button' href='{{s.key.id}}/edit/'>edit</a>
                <a class='button' href='{{s.key.id}}/pay/'>platba</a>
{% endif %}
                <a class='button' href='{{s.key.id}}/view/'>zobrazit</a>

{% if request.auth_info.edit %}
                <a class='button' href='{{s.key.id}}/enroll/'>zapsat</a>
                <a class='kbutton' href='{{s.key.id}}/kick/'>vyřadit</a>
{% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="2">
            <div class="check-area">
                <input id="select-s" type="checkbox" />
                <label for="select-s">vše</label>
            </div>
        </td>
        {% with '' as text %}
        {% if mode == 'Single' %}
        {% include "admin/st_table_single_sep_line.html" %}
        {% endif %}
        {% if mode == 'School' %}
        {% include "admin/st_table_school_sep_line.html" %}
        {% endif %}
        {% if mode == 'Pair' %}
        {% include "admin/st_table_pair_sep_line.html" %}
        {% endif %}
        {% endwith %}
        <td></td>
    </tr>

{% else %}
    <tr>
        <td colspan="2"></td>
        {% with 'Žádný náhradník' as text %}
        {% if mode == 'Single' %}
        {% include "admin/st_table_single_sep_line.html" %}
        {% endif %}
        {% if mode == 'School' %}
        {% include "admin/st_table_school_sep_line.html" %}
        {% endif %}
        {% if mode == 'Pair' %}
        {% include "admin/st_table_pair_sep_line.html" %}
        {% endif %}
        {% endwith %}
        <td></td>
    </tr>
 
{% endif %}


{% if student_list_enrolled %}
    <tr>
        <td colspan="2"></td>
        {% with 'Žáci zapsaní do kurzu' as text %}
        {% if mode == 'Single' %}
        {% include "admin/st_table_single_sep_line.html" %}
        {% endif %}
        {% if mode == 'School' %}
        {% include "admin/st_table_school_sep_line.html" %}
        {% endif %}
        {% if mode == 'Pair' %}
        {% include "admin/st_table_pair_sep_line.html" %}
        {% endif %}
        {% endwith %}
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>p.č</th>
        {% if mode == 'Single' %}
        {% include "admin/st_table_single_header_e.html" %}
        {% endif %}
        {% if mode == 'School' %}
        {% include "admin/st_table_school_header_e.html" %}
        {% endif %}
        {% if mode == 'Pair' %}
        {% include "admin/st_table_pair_header_e.html" %}
        {% endif %}
 
        <th>operace</th>
    </tr>
    {% for s in student_list_enrolled %}
        <tr class='{% cycle 'row_a' 'row_b' %} autohover'>

            <td> 
              <div class="check-area">  
              {% if not s.x_pair_empty_slot %}
                <input class="check-action" id='select-e-slave' type="checkbox" value="{{ s.key.id }}" {% if l.selected %}checked{% endif %} name="enroll_select" /> 
              {% endif %}
              </div>
            </td>
 
            <td>{{s.x_no}}</td>
            {% if mode == 'Single' %}
            {% include "admin/st_table_single_row_e.html" %}
            {% endif %}
            {% if mode == 'School' %}
            {% include "admin/st_table_school_row_e.html" %}
            {% endif %}
            {% if mode == 'Pair' %}
            {% include "admin/st_table_pair_row_e.html" %}
            {% endif %}
 
            <td class='nowrap'>
              {% if not s.x_pair_empty_slot %}
{% if request.auth_info.edit %}
                <a class='button' href='{{s.key.id}}/edit/'>edit</a>
                <a class='button' href='{{s.key.id}}/pay/'>platba</a>
{% endif %}
                <a class='button' href='{{s.key.id}}/view/'>zobrazit</a>

{% if request.auth_info.edit %}
                <a class='button' href='{{s.key.id}}/spare/'>náhradník</a>
                <a class='kbutton' href='{{s.key.id}}/kick/'>vyřadit</a>
{% endif %}
              {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="2">
            <div class="check-area">
                <input id="select-e" type="checkbox" />
                <label for="select-e">vše</label>
            </div>
        </td>
        {% with '' as text %}
        {% if mode == 'Single' %}
        {% include "admin/st_table_single_sep_line.html" %}
        {% endif %}
        {% if mode == 'School' %}
        {% include "admin/st_table_school_sep_line.html" %}
        {% endif %}
        {% if mode == 'Pair' %}
        {% include "admin/st_table_pair_sep_line.html" %}
        {% endif %}
 
        {% endwith %}
        <td></td>
    </tr>
{% else %}
    <tr>
        <td colspan="2"></td>
        {% with 'Kurz je prázdný' as text %}
        {% if mode == 'Single' %}
        {% include "admin/st_table_single_sep_line.html" %}
        {% endif %}
        {% if mode == 'School' %}
        {% include "admin/st_table_school_sep_line.html" %}
        {% endif %}
        {% if mode == 'Pair' %}
        {% include "admin/st_table_pair_sep_line.html" %}
        {% endif %}
 
        {% endwith %}
        <td></td>
    </tr>
{% endif %}
    </table>

    
   <div class="form-table-opt">
        <label class="blind" for="operation">Akce:</label>
        <select id="operation" name="operation">
            <option value="action_none">-- zvol akci --</option>
<!--            <option value="action_email">emaily</option> -->
            <option value="action_email">emaily</option>

{% if request.auth_info.edit %}
            <option value="action_pair">spáruj dvojci</option>
            <option value="action_transfer">přesuň do jiného kurzu</option>
            <option value="action_makecopy">kopie do jiného kurzu</option>
            <option value="action_card">generuj legitimace</option>
            <option value="action_invitation">generuj pozvánky</option>
            <option value="action_cardout">vydání karty</option>
            <option value="action_delete">smazat</option>
{% endif %}
{% if request.auth_info.admin %}
            <option value="action_extra">extra</option>
{% endif %}

        </select>
        <input class="button" type="submit" value="provést"/>
        (s označenýma)
    </div>

    </form>

<script type="text/javascript">

        TOOLS.bindSelect('select-s','select-s-slave');     
        TOOLS.bindSelect('select-e','select-e-slave');     
        new TOOLS.autoHover('autohover','highlight');

</script>

{% endwith %}


{% endblock %}

