
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}
    <a class='button' href='add/'>přidat šablonu</a>
    <a class='button' href='.'>přenačíst</a>

    <br/><br/>Přehled šablon emailů<br/>

{% if list %}
    <table>
    <tr>
        <th>platná</th>
        <th>zamčena</th>
        <th>název</th>
        <th>popis</th>
        <th>import adresa</th>
        <th>datum importu</th>
        <th>velikost</th>
        <th>operace</th>
    </tr>
    {% for i in list %}
        <tr>
            <td>{{i.valid|anone}}</td>
            <td>{{i.locked|anone}}</td>
            <td>{{i.name}}</td>
            <td>{{i.desc}}</td>
            <td><a href='mailto:{{i.import_email}}'>{{i.import_email}}</a></td>
            <td>{{i.data_datetime|shortdatetime}}</td>
            <td>{{i.data_size}}</td>
            <td>
                <a class='button' href='{{i.key.id}}/'>zobrazit</a>
                <a class='button' href='{{i.key.id}}/edit/'>editovat</a>
{% if request.auth_info.admin %}
                <a class='button' href='{{i.key.id}}/test_send/'>test_send</a>
{% endif %}
                <a class='cbutton' href='{{i.key.id}}/del/'>smazat</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    žádný seznam<br/>
{% endif %}


{% endblock %}

