
{% extends "admin/base.html" %}

{% block title %} přehled nepotrzených přihlášek {% endblock %}

{% block content %}
    <a class='button' href='.'>přenačíst</a>
    <a class='button' href='manual_confirm/'>ruční potvrzení přihlášky</a>
    <a class='button' href='confirm_list/'>nepotvrzené přihlášky</a>
    {% if enroll_on %}
        <h1> Online zápis je POVOLEN </h1>
    	<a class='button' href='?disable'>zakázat</a>
    {% else %}
        <h1> Online zápis je JE ZAKÁZÁN </h1>
    	<a class='button' href='?enable'>povolit</a>
    {% endif %}
    <br/>


    {% include "enroll/offer.html" %}   

{% endblock %}

