{% extends "admin/base.html" %}

{% block title %} Manuální potvrzení online přihlášky {% endblock %}

{% block content %}

Manuální potvrzení online přihlášky<br>
Zadej referenční kód přihlášky, nebo potvrzovací kód.<br>
U párové přihlášky je třeba potvrdit obě přihlásky.<br>




<form method="post" name="form">
<table>
{{ form.as_table }}
</table>
<input class="button" type="submit" value="potrdit">
<a class='button' href='../'>zpět</a>
</form>


{% if student %}
 Jméno a přijmení:   {{ student.name }} {{ student.surname }} <br>
{% endif %}

{% if course %}
 Kurz:   {{ course.code }} {{ course.name }} <br>
{% endif %}

{{ info }}

{% endblock %}

