
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}
    <a class='button' href='.'>přenačíst</a>

    <br/><br/>Přehled úloh<br/>

    <table>

{% if jobs %}
    <tr> <td colspan="8"> aktivní </td></tr>
    <tr>
        <th>aktivní</th>
        <th>vlastník</th>
        <th>název</th>
        <th>vytvořena</th>
        <th>zahájena</th>
        <th>dokončena</th>
        <th>chyba</th>
        <th>operace</th>
    </tr>
 
   {% for j in jobs %}
        <tr>
            <td>{{j.active|anone }}</td>
            <td>{{j.owner }}</td>
            <td>{{j.name }}</td>
            <td>{{j.create_datetime}}</td>
            <td>{{j.start_datetime}}</td>
            <td>{{j.finish_datetime}}</td>
            <td>{{j.finish_error|anone}}</td>
            <td>
                <a class='cbutton' href='{{j.key.id}}/del/'>smazat</a>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr> <td colspan="8"> žádné aktivní </td></tr>
{% endif %}

{% if e_jobs %}
    <tr> <td colspan="8"> chybové </td></tr>
    <tr>
        <th>aktivní</th>
        <th>vlastník</th>
        <th>název</th>
        <th>vytvořena</th>
        <th>zahájena</th>
        <th>dokončena</th>
        <th>chyba</th>
        <th>operace</th>
    </tr>
 
    {% for j in e_jobs %}
        <tr>
            <td>{{j.active|anone }}</td>
            <td>{{j.owner }}</td>
            <td>{{j.name }}</td>
            <td>{{j.create_datetime}}</td>
            <td>{{j.start_datetime}}</td>
            <td>{{j.finish_datetime}}</td>
            <td>{{j.finish_error|anone}}</td>
            <td>
                <a class='cbutton' href='{{j.key.id}}/del/'>smazat</a>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr> <td colspan="8"> žádné chybové</td></tr>
{% endif %}

    </table>

{% endblock %}

