
        <div id="top-tabs">
            <ul>
                <li><a href="/admin/">Přehled</a></li>
                <li><a href="/admin/kategorie/">Kategorie</a></li>
                <li><a href="/admin/sezony/">Sezóny</a></li>
                <li><a href="/admin/kurzy/">Kurzy</a></li>
                <li><a href="/admin/zaci/">Žáci</a></li>
                <li><a href="/admin/opt/">Nastavení</a></li>

{% if request.auth_info.admin %}
                <li><a href="/admin/sys/">Systém</a></li>
                <li><a href="/admin/sys/test/">Test</a></li>
{% endif %}
        
            </ul>&nbsp;
            <div class="clear"></div>
        </div>
        


