<!--            <td>{{s.status_loc}}</td> -->
{% if s.x_pair_first %}
            <td rowspan=2>{{s.x_pair_no}}</td>
{% endif %}
{% if s.x_pair_empty_slot %}
            <td colspan=13>&nbsp;</td>
{% else %}
            <td>{{s.reg_datetime}}</td>
<!--            <td>{{s.course_code}}</td> -->
<!--            <td>{{s.ref_key}}</td> -->
            <td>{{s.addressing_loc}}</td>
            <td>{{s.name}}</td>
            <td>{{s.surname}}</td>
            <td>{{s.email|nonone}}</td>
            <td>{{s.phone|nonone}}</td>
            <td>{{s.student|anone}}</td>
            <td>{{s.course_cost|nonone}}</td>
            <td>{{s.paid|nonone}}</td>
            <td>{{s.balance_due|nonone}}</td>
            <td>{{s.pay_info|nonone}}</td>
            <td>{{s.card_out|anone}}</td>
<!--
            <td>{{s.street|nonone}}</td>
            <td>{{s.street_no|nonone}}</td>
            <td>{{s.city|nonone}}</td>
            <td>{{s.post_code|nonone}}</td>
            <td>{{s.partner_ref_code|nonone}}</td>
-->
            <td>{{s.comment|nonone}}</td>
{% endif %}
