            <td>{{s.ref_key}}</td>
            <td>{{s.addressing_loc}}</td>
            <td>{{s.name}}</td>
            <td>{{s.surname}}</td>
            <td>{{s.email}}</td>
            <td>{{s.phone|nonone}}</td>
            <td>{{s.to_pay|nonone}}</td>
            <td>{{s.balance_due}}</td>
            <td>{{s.discount}}</td>
            <td>{{s.paid_ok|anone}}</td>
            <td>{{s.school|nonone}}</td>
            <td>{{s.school_class|nonone}}</td>
            <td>{{s.comment|nonone}}</td>
