{% if s.x_pair_first %}
            <td rowspan="2">{{s.x_pair_no}}</td>
{% endif %}
{% if s.x_pair_empty_slot %}
            <td colspan="14">&nbsp;</td>
{% else %}
            <td>{{s.reg_datetime|shortdatetime}}</td>
            <td>{{s.addressing_loc}}</td>
            <td>{{s.name}}</td>
            <td>{{s.surname}}</td>
            <td>{{s.email|nonone}}</td>
            <td>{{s.phone|nonone}}</td>
            <td>{{s.student|anone}}</td>
            <td {% if not s.is_cp %} class='not_paid' {% endif %}>{{s.course_cost|nonone}}</td>
            <td {% if not s.is_cp %} class='not_paid' {% endif %}>{{s.paid|nonone}}</td>
            <td {% if not s.is_cp %} class='not_paid' {% endif %}>{{s.balance_due|nonone}}</td>
            <td>{{s.discount|nonone}}</td>
            <td>{{s.pay_info|nonone}}</td>
            <td>{{s.card_out|anone}}</td>
            <td>{{s.comment|nonone}}</td>
{% endif %}
