            <td>{{s.x_class_no}}</td>
            <td>{{s.ref_key}}</td>
            <td>{{s.addressing_loc}}</td>
            <td>{{s.name}}</td>
            <td>{{s.surname}}</td>
            <td>{{s.email|nonone}}</td>
            <td>{{s.phone|nonone}}</td>
            <td>{{s.course_cost|nonone}}</td>
            <td>{{s.paid|nonone}}</td>
            <td>{{s.balance_due|nonone}}</td>
            <td>{{s.discount|nonone}}</td>
            <td>{{s.pay_info|nonone}}</td>
            <td>{{s.school|nonone}}</td>
            <td>{{s.school_class|nonone}}</td>
            <td>{{s.comment|nonone}}</td>
