<!--        <th>stav</th> --!>
        <th>pár č.</th>
        <th>čas přihlášky</th>
<!--        <th>kurz</th> --!>
        <th>referenční číslo</th>
        <th>oslovení</th>
        <th>jméno</th>
        <th>příjmení</th>
        <th>email</th>
        <th>telefon</th>
        <th>student</th>
        <th>kurzovné</th>
        <th>platba</th>
        <th>doplatek</th>
        <th>pl. info</th>
        <th>karta</th>
        <th>ulice</th>
        <th>číslo</th> 
        <th>město</th>
        <th>psč</th> 
        <th>partner</th>
        <th>poznámka</th> 
