
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}

   <a class='button' href='../..'>zpět na žáky</a>
   <a class='button' href='.'>přenačíst</a>

{% if request.auth_info.edit %}
   <a class='button' href='../edit/'>editovat</a>
{% endif %}


{% with student as s %}

<br/><br/><br/>
kurz: {{course.code}}<br/>
referenční číslo: {{s.ref_key}}<br/>
jméno: {{s.name}} {{s.surname}}<br/>
student: {{s.student|anone}}, ověřeno: {{s.student_check|anone}}<br/>
email: {{s.email|nonone}}<br/>
nezasílat nic: {{s.no_email_info|anone}}<br/>
nezasílat změny přihlášky: {{s.no_email_notification|anone}}<br/> 
<br/>

<form method="post" name="form" action=".">
<table>
{{ form.as_table }}
</table>
<input class="button" type="submit" value="uložit"/>
<a class='button' href='../..'>zpět</a>
</form>



{% endwith %}

{% endblock %}

