
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}


<form method="post" name="form">
{{ form.as_p }}
<input class="button" type="submit" value="hledat">
</form>

{% if student_list %}
    <br><br>Nalezení žáci<br>
    <table>
    <tr>
        <th>stav</th>
        <th>čas přihlášky</th>
        <th>kurz</th>
        <th>referenční číslo</th>
        <th>oslovení</th>
        <th>jméno</th>
        <th>příjmení</th>
        <th>email</th>
        <th>telefon</th>
        <th>rok</th>
        <th>ulice</th>
        <th>číslo</th> 
        <th>město</th>
        <th>psč</th> 
        <th>partner</th>
        <th>poznámka</th> 
        <th>operace</th>
    </tr>
    {% for s in student_list %}
        <tr>
            <td>{{s.status_loc}}</td>
            <td>{{s.reg_datetime}}</td>
            <td>{{s.course_code}}</td>
            <td>{{s.ref_key}}</td>
            <td>{{s.addressing_loc}}</td>
            <td>{{s.name}}</td>
            <td>{{s.surname}}</td>
            <td>{{s.email}}</td>
            <td>{{s.phone|nonone}}</td>
            <td>{% if s.year %}{{s.year}}{% else %}&nbsp;{%endif%}</td>
            <td>{{s.street|nonone}}</td>
            <td>{{s.street_no|nonone}}</td>
            <td>{{s.city|nonone}}</td>
            <td>{{s.post_code|nonone}}</td>
            <td>{{s.partner_ref_code|nonone}}</td>
            <td>{{s.comment|nonone}}</td>
            <td>
                <a class='button' href='{{s.key.id}}/edit/'>editovat</a>
                <a class='cbutton' href='{{s.key.id}}/del/'>smazat</a>

{% if request.auth_info.admin %}
                <a class='button' href='{{s.key.id}}/email/'>email</a>
{% endif %}

            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% if not_found %}
    <br><br><div> nenalezeno </div>
{% endif %}


{% endblock %}

