
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}
    <a class='button' href='add'>přidat žáka</a>
    <a class='button' href='.'>přenačíst</a>

    <br><br>Přehled žáků<br>

{% if student_list %}
    <table>
    <tr>
        <th>stav</th>
        <th>oslovení</th>
        <th>jméno</th>
        <th>příjmení</th>
        <th>email</th>
        <th>telefon</th>
        <th>rok</th>
        <th>ulice</th>
        <th>číslo</th> 
        <th>město</th>
        <th>psč</th> 
        <th>poznámka</th> 
        <th>operace</th>
    </tr>
    {% for s in student_list %}
        <tr>
            <td>{{s.status_loc}}</td>
            <td>{{s.addressing_loc}}</td>
            <td>{{s.name}}</td>
            <td>{{s.surname}}</td>
            <td>{{s.email}}</td>
            <td>{{s.phone|nonone}}</td>
            <td>{% if s.year %}{{s.year}}{% else %}&nbsp;{%endif%}</td>
            <td>{{s.street|nonone}}</td>
            <td>{{s.street_no|nonone}}</td>
            <td>{{s.city|nonone}}</td>
            <td>{{s.post_code|nonone}}</td>
            <td>{{s.comment|nonone}}</td>
            <td>
                <a class='button' href='{{s.key.id}}/edit/'>editovat</a>
                <a class='cbutton' href='{{s.key.id}}/del/'>smazat</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    no student<br>
{% endif %}


{% endblock %}

