
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}

    <h1>utc vs. localtime</h1>
    <div class='box'>
    utcnow: {{now}}<br>
    localized_now: {{localized_now}}<br>  
    local_now: {{local_now}}<br>
    local_s: {{local_s}}<br>

    localize by filter: {{now|localdatetime}}
    </div>
    <hr>
    <div>
      qrg res: {{qrg_res}}<br>
    </div>

     <h1>select form test</h1>
    <div class='box'>
     <form action="." method="POST">   
        <input type="text" name="target_url" value="{{target_url}}" />
        <input type="text" name="target_dskey" value="{{target_dskey}}" />
        <input class="button" type="submit" value="test">
        <div class='box'>
        {{url_response}}
        </div>
    </form>
    <a href="update_all_students">update_all_students</a>
    <a href="update_all_folders">update_all_folders</a>
    <a href="update_all_courses">update_all_courses</a>
    <a href="update_all_seasons">update_all_seasons</a>
    <br>
    <hr>
    <a href="qrtest">qrtest</a>
    </div>
  
<script type="text/javascript">

        TOOLS.bindSelect('select-all','select-all-slave');     
        new TOOLS.autoHover('autohover','highlight');

</script>


{% endblock %}

