
{% extends "admin/base.html" %}

{% block title %} Administrace zápisu {% endblock %}

{% block content %}

    <h1>utc vs. localtime</h1>
    <div class='box'>
    utcnow: {{now}}<br>
    localized_now: {{localized_now}}<br>  
    local_now: {{local_now}}<br>
    local_s: {{local_s}}<br>

    localize by filter: {{now|localdatetime}}
    </div>

     <h1>select form test</h1>
    <div class='box'>
     <form action="." method="POST">   
    <table>
        <tr><th></th><th>x</th></tr>
        {% for l in lines %}
        <tr>
            <td> 
              <div class="check-area">  <input class="check-action" type="checkbox" value="{{ l.key }}" {% if l.selected %}checked{% endif %} name="categories" /> </div>
            </td>
            <td> {{ l.value }} </td>
        </tr>
        {% endfor %}
    </table>
    <div class="form-table-opt">

        <div class="check-area">
            <input id="select-all" type="checkbox" />
            <label for="select-all">vše</label>
        </div>
    

        <label class="blind" for="operation">Akce:</label>
        <select id="operation" name="operation">
            <option value="action_1">Akce1</option>
            <option value="action_2">Akce2</option>
        </select>
        <input class="button" type="submit" value="test">
    </div>
    </form>
    </div>

{% endblock %}

