div { 
    display: block;
}

td, th, div {
    font-size:100%;
}

body { 
    display: block;
    font-family: Arial,sans-serif;
    line-height: 1.5;
}

body#bd {
    margin: 0;
    padding: 0;
    background: url(/static/ts/stripe.png) repeat top;
}

body.fs3 {
    font-size: 13px;
}

.wide #ja-wrapper2 {
    width:950px;
}

#ja-wrapper2 {
    margin: 0 auto;
    text-align: center;
}

#ja-wrapper1 {
    background: url(/static/ts/shadowleft-bg.gif) repeat-y top left #FAFAFA;
    padding-left: 10px;
    text-align: left;
}

#ja-wrapper {
    background: url(/static/ts/shadowright-bg.gif) repeat-y top right #FAFAFA;
    padding-right: 10px;
    text-align: left;
}

.wide #ja-headerwrap {
    background: url(/static/ts/header-bg.jpg) no-repeat top right #9C0629; 
}

#ja-header {
    clear: both;
    text-align: left;
    line-height: normal;
    height: 225px;
    position: relative;
}

#ja-header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    position: absolute;
    top: 17px;
    left: 30px;
    text-indent: -1000px;
}

#ja-header h1 a {
    color: #FAFAFA;
    text-decoration: none;
    text-transform: uppercase;
    width: 350px;
    height: 210px;
    display: block;
    margin-top: -10px;
} 


#ja-containerwrap {
    padding: 15px 10px;
}

#ja-container {
    padding: 0;
}


.clearfix::after {
    clear: both;
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
}


#ja-mainbody-fl {
    float: left;
    width: 100%;
}

#ja-content {
    padding: 0 15px;
    margin: 0;
    clear: both;
    display: block;
}

#ja-footerwrap {
    background: url(/static/ts/grad1.gif) no-repeat bottom #FAFAFA;
    padding: 15px 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #CCC;
}

#ja-footer {
    height:50px;
}

#ja-footer small {
    float: left;
    padding: 0 15px;
    font-size: 100%;
    color: #999;
}

    

h1.contentheading {
    color: #9C0629;
    font-size: 170%;
    font-weight: bold;
    line-height: normal;
    padding-left: 55px;
    padding-top: 10px;
    padding-bottom: 15px;
    background: url(/static/ts/h1.png) no-repeat;
}

h2.contentheading {
    font-size: 150%;
    font-weight: bold;
    line-height: normal;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    background: url(/static/ts/h2.png) no-repeat;
}

.table1 {
    border-collapse: collapse;
    text-indent: 0;
    border-spacing: 2px;
    border-color: gray;
    width:100%;
}

.table1 tr, .table1 td, .table1 th {
    border-top: 1px solid lightGrey;
    border-bottom: 1px solid lightGrey;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.table1 th {
    background: #EEE;
    font-weight: bold;
}

