{% extends "enroll/base.html" %}

{% block title %} TŠ Starlet - Zápis - Přihláška {% endblock %}

{% block content %}

{% if html_captcha %} 
<script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'white',
    custom_translations : { instructions_visual : "Opište dvě slova:" }
 };
 </script>
{% endif %}

<div> Přihláska do kurzu {{ course.code }}  </div>
<hr>
<form method="post" name="form">


<table>
<tr> <td {% if form.addressing.errors %} class='field_error' {%endif%} >Oslovení (*):</td> <td colspan=3> {{ form.addressing }} </td> </tr>
<tr> <td {% if form.name.errors %} class='field_error' {%endif%} >Jméno (*):</td> <td colspan=3> {{ form.name }} </td> </tr>
<tr> <td {% if form.surname.errors %} class='field_error' {%endif%} >Příjmení (*):</td> <td colspan=3> {{ form.surname }} </td> </tr>
<tr> <td>Student:</td> <td colspan=3> {{ form.student }}</td> </tr>
{% if course.cost_mode == 2 %}
<tr> <td>Celoroční:</td> <td colspan=3> {{ form.long_period }}</td> </tr>
{% endif %}
<tr> <td {% if form.email.errors %} class='field_error' {%endif%}>E-mail (*):</td> <td colspan=3> {{ form.email }}</td> </tr>
<tr> <td>Nezasílat reklamu:</td> <td colspan=3> {{ form.no_email_ad }}</td> </tr>
<tr> <td>Rok narození:</td> <td colspan=3> {{ form.year }} </td> </tr>
<tr> <td>Ulice:</td> <td> {{ form.street }} </td> <td> č.p.: </td> <td> {{ form.street_no }}</td> </tr>
<tr> <td>Město:</td> <td colspan=3> {{ form.city }} </td> </tr>
<tr> <td>PSČ:</td> <td colspan=3> {{ form.post_code }}</td> </tr>
<tr> <td>Telefon:</td> <td colspan=3> {{ form.phone }}</td> </tr>
</table>

{% if form.errors %}
   <div class='field_error'>Prosím vyplňte chybějící údaje</div> 
{% endif %}



<div class='small_info'>(*) povinný údaj</div>
<hr>
{% if captcha_error %}  neplatný kód {% endif %}
{% if html_captcha %} {{ html_captcha|safe }} {% endif %}
    
<input type="submit" value="Odeslat">
<a  href='/zapis/'>zpět</a>
</form>



{% endblock %}

