{% extends "enroll/base.html" %}

{% block title %} TŠ Starlet - Zápis - Párová přihláška {% endblock %}

{% block content %}

{% if html_captcha %} 
<script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'white',
    custom_translations : { instructions_visual : "Opište dvě slova:" }
 };
 </script>
{% endif %}


<h1 class='contentheading'> Párová přihláška do kurzu {{ course.code }} - {{ course.name }} </h1>
<a  href='/zapis/'>zpět na výběr kurzu</a><br>
Pokud nemáte partnera či partnerku můžete podat jednoduchou přihlášku <a href='s/'>zde</a><br>
<hr>
{% include "enroll/cost_info.html" %}
<hr>

<form method="post" name="form">

<table width='100%'>
<tr><th>partner</th><th>partnerka</th></tr>
<tr>
<td>{% with form1 as form %} {% include "enroll/attend_form.html" %}{% endwith %}</td>
<td>{% with form2 as form %} {% include "enroll/attend_form.html" %}{% endwith %}</td>
</tr>
</table>
{% if form1.errors or form2.errors %}
   <div class='field_error'>Prosím, vyplňte chybějící údaje</div> 
{% endif %}


<div class='small_info'>
(*) povinný údaj<br>
Na uvedný e-mail budou odeslány instrukce k ověření přihlášky, bez kterého je přihláška neplatná.
</div><br>

<hr>
{% if captcha_error %} <div class='field_error'>slova byla opsána chybně, opiště je prosím znovu.</div> {% endif %}
{% if html_captcha %} {{ html_captcha|safe }} {% endif %}
    
<input type="submit" value="Odeslat">


<div class='small_info'>Odesláním přihlášky souhlasím s používáním mých osobních údajů Taneční školou Starlet pro vnitřní administrativní účely a beru na vědomí, že budu Taneční školou Starlet pomocí mé e-mailové adresy informován o případných změnách v průběhu kurzu a o akcích, které se tanečního kurzu týkají.</div>

</form>




{% endblock %}

