<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <link href="/static/ts.css" type="text/css" rel="stylesheet" media="all"></link>

<!--[if lte IE 6]>
<style type="text/css">
.clearfix {height: 1%;}
</style>
<![endif]-->
<!--[if gte IE 7.0]>
<style type="text/css">
.clearfix {display: inline-block;}
</style>
<![endif]-->
<!--[if lte IE 6]>
<style type="text/css">
</style>
<![endif]-->

    <title>{% block title %}{% endblock %}</title>
    
</head>
<body id="bd" class="wide fs3">
<div id="ja-wrapper2">
    <div id="ja-wrapper1">
        <div id="ja-wrapper">
            <div id="ja-headerwrap">
                <div id="ja-header">
                <h1>
                    <a href="/" title="Taneční škola Starlet Brno">Taneční škola Starlet Brno</a>
                </h1>
                </div>
    <div>                
{% block head %}
{% endblock %}
    </div>
                
            </div>
            <div id="ja-containerwrap">
                <div id="ja-container" class="clearfix">
                    <div id="ja-mainbody-fl">
                        <div id="ja-content">
{% block content %}
{% endblock %}
                        </div> 
                   </div>
                </div>
            </div>
            <div id="ja-footerwrap">
                <div id="ja-footer">
                    <small>
Kontaktní telefon: 732 754 293, 545 162 090 a e-mail: starlet@starlet-brno.cz<br>
Přihlášky a informace: kino Scala, Moravské nám. 127/3, Brno (po, pá 14-17hod., st 14-17 hod.)<br>
Copyright © 2008-2011 Taneční škola Starlet Brno<br>

{% block footer %}
{% endblock %}
                            <br>
                    </small>
                </div>     
            </div>
        </div>
    </div>
</div>
</body>

</html>
