{% extends "enroll/base.html" %}

{% block title %} TŠ Starlet - Zápis - Volba kategorie {% endblock %}

{% block content %}

{% if preview %}
    <h1>Náhled zápisu - první strana</h1> <a href="../../kurzy/">zpět</a><hr>
{% endif %}



{% if offer %}
    <h1> Volba kategorie </h1>
    {% for f in offer %} 
        {{f.folder.public_name}} - <a href='kategorie/{{f.folder.key.id}}/'>zvolit</a><br>
    {% endfor %}
{% else %}
<div> Žádný kurz není otevřen pro zápis </div>
{% endif %}


{% endblock %}

