
{% if offer %}
        {% if preview %}
	<h2> tuto nabídku vidí žáci při podávaní přihlášky</h2>
        {% else %}
        <h1 class='contentheading'>Volba kurzu pro online přihlášku</h1>
	{% endif %}
    {% for f in offer %} 
        <h2 class='contentheading'>{{f.folder.public_name}}</h2>
            <table class="table1">
            <tbody>
              {% if preview %}
              <tr><th width="10%">Termín</th><th width="20%">Kurz</th><th width="10%">Místo</th><th width="10%">Lektor</th><th width="10%">Zahájení</th><th width="10%"></th><th width="30%">info</th></tr>
                {% else %}
              <tr><th width="15%">Termín</th><th width="25%">Kurz</th><th width="15%">Místo</th><th width="15%">Lektor</th><th width="15%">Zahájení</th><th width="15%"></th></tr>
                {% endif %}
            {% for c in f.courses %}
            <tr><td>{{c.period}}</td><td>{{c.code}} - {{c.name}}</td><td>{{c.place}}</td><td>{{c.teacher}}</td><td>{{c.first_period}}</td>
                <td>
                    {% if c.suspend %}
                        zápis pozastaven
                    {% else %}
                        {% if preview %}
                        zápis povolen
                        {% else %}
                        <a href='kurz/{{c.key.id}}/'>přihlásit</a>
                        {% endif %}
                    {% endif %}
                </td>
                {% if preview %}
                <td class='nowrap'>
                    typ zapisu:{{c.group_mode_loc}}, kapacita: {{c.usage}} (p: {{c.stat_e_m}}, d: {{c.stat_e_f}}), náhr: {{c.pending}}
                    cena: {% if c.cost_sale %} {{ c.cost_sa }} / {{ c.cost_sb }} SLEVA {% else %} {{ c.cost_a }} / {{ c.cost_b }} {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
            </table>
    {% endfor %}
{% else %}
 <h1 class='contentheading'>Žádný kurz není otevřen pro zápis</h1>
{% endif %}


