{% extends "enroll/base.html" %}

{% block title %} TŠ Starlet - Zápis - Párová přihláška {% endblock %}

{% block content %}

<h1 class='contentheading'> Párová přihláška do kurzu {{ course.code }} - {{ course.name }} </h1>



Vaše přihlášky s referenčním kódem {{ ref_code1 }} a {{ ref_code2 }} byly úspěšně zaevidovány. Na uvedené e-maily Vám byly odeslány
instrukce k potvrzení přihlášek a další informace. Bez tohoto potrzení je přihláška neplataná a bude smazána. Potrzení stačí z pro jednu
z přihlášek.



<a  href='/zapis/'>zpět na přehled kurzů</a>

{% endblock %}

