{% extends "enroll/base.html" %}

{% block title %} TŠ Starlet - Zápis - Směrnice o vrácení kurzovného{% endblock %}


{% block head %}
	Směrnice o vrácení kurzovného
{% endblock %}


{% block content %}




<h3>ÚVODNÍ ZÁSADA:</h3>


<div class="well">Přihláška je závazná, kurzovné se platí u zápisu a vrací se ve výjimečných případech. Hodiny zameškané vlastní vinou se nenahrazují.</div> 

<ol>
<li>
Kurzovné vracíme celé v případě, že ZÁSADNĚ nedodržíme smluvní podmínky:
	<ul>
		<li>nedodržíme-li zásadně termín zahájení kurzu, který byl ZÁVAZNĚ sdělen klientovi. Zásadní nedodržení termínu zahájení se rozumí až čtyři týdny změny zahájení (dříve, později).</li>
		<li>Za závazné sdělení termínu zahájení se nerozumí termín uvedený na propagačních materiálech včetně webových stránek. Zde se jedná pouze o informativní sdělení pravděpodobného zahájení kurzu.</li>
		<li>zásadně změníme poplatek za kurz (zásadní změnou se rozumí zvýšení kurzovného více jak 20%)</li>
		<li>změna termínu průběhu kurzu. Pořadatel kurzů si vyhrazuje možnost nedodržení přesného klientem požadovaného termínu časového tj. např. 17:30, 20:00 hod. atd., pořadatel však musí dodržet klientem vybraný základní nebo náhradní den konání kurzu.</li>
	</ul>
</li>

<li>
Kurzovné vracíme v případě úmrtí, vážného onemocnění nebo přestěhování, které znemožňuje klientovi účast v kurzu. Kurzovné se vrací po odečtení zápisného a poplatku za absolvování části kurzu ode dne doručení doloženého výjimečného požadavku. Dokladem je míněno potvrzení lékaře o nemoci klienta, doklad o přestěhování atd.
Změna školy v rámci Brna není důvodem k vrácení kurzovného.
</li>
<li>
Při vrácení kurzovného se vždy odečítá zápisné, které je uvedeno v ceníku kurzů pro jednotlivé údobí (k dispozici v kanceláři TŠ).
</li>



<li>
Vrácenou částku poukazujeme poštou nebo převodem na účet klienta, a to do čtrnácti dní od doručení zcela kompletní žádosti o vrácení kurzovného (tedy i s potřebnými doklady apod.)
</li>

<li>
Poplatek za LETNÍ ČI ZIMNÍ ŠKOLU TANCE vracíme dle zvláštních směrnic. Odhlašuje-li se klient v průběhu kurzu, je mu vrácena pouze část kurzovného představující náklady na nevybranou stravu a nocležné.
</li>

<li>
Žádost o vrácení kurzovného se podává písemně ideálně na předepsaném tiskopise, a to buď poštou, e-mailem nebo osobním předáním v naší kanceláři či kanceláři provozní (pokladna KC Babylon). Žádost musí být podána před nebo po zahájení kurzu, ne však po jeho ukončení.
</li>
</ol>

<p>Směrnice platí pro TANEČNÍ ŠKOLU STARLET rodiny Buryanových od 1.10.2014.</p>

<p>Vypracoval Vladimír Buryan</p>








   
{% endblock %}
